:root {
    --skyColor: #8fbfce;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: rgb(219,232,230);
    background: linear-gradient(0deg, rgba(219,232,230,1) 0%, rgba(154,232,240,1) 50%, rgba(127,218,236,1) 100%);
}

body {
    height: 100%;
    overflow: hidden;
}

.color-picker {
    position: absolute;
    bottom:2%;
    left: 2%;
    z-index: 1;
}
